<nav><a href="/emtips/">emtips</a> <a href="/tipstabell/">tipstabell</a> <a href="/chatgpt">ChatGPT-analys</a> <a href="/assets/media/euro24/holland.mp4">Höger, Vänster</a> <a href="/assets/media/euro24/heyjude.mp4">Hey Jude</a></nav>
<br>
<b>Lägger in poäng för finallag 11/7.</b>
<br>

