<nav><a href="/emtips/">emtips</a> <a href="/tipstabell/">tipstabell</a> <a href="/chatgpt">ChatGPT-analys</a> <a href="/claude">Claude analyserar tipstabellen</a> </nav>
<br>
<b>Tipset räknar nu in bonuspoängen också. Jag hade både finallagen förresten. </b>
<br>

