---
layout: base.njk
title: Blogg
description: Alla blogginlägg
---

{% include "components/tag-selector.njk" %}

<section>
  <h2 class="section-header">Alla Inlägg</h2>

  <div class="blog-list">
    {% for post in collections.posts %}
    <article class="blog-item" data-tags="{% if post.data.tags and post.data.tags | length > 0 %}{{ post.data.tags | join(',') }}{% endif %}">
      <a href="{{ post.url }}" class="blog-link">
        <div class="blog-main">
          <div class="blog-date">{{ post.date.toLocaleDateString('sv-SE', { year: 'numeric', month: 'short', day: 'numeric' }) }}</div>
          <div class="blog-title-and-score">
            <h3 class="blog-title">{{ post.data.title }} {% if post.data.review_score %} ({{ post.data.review_score }}/10) {% endif %}</h3>



          </div>
        </div>

        {% if post.data.tags %}
        <div class="blog-meta">
          <div class="blog-tags">
            {% for tag in post.data.tags %}
              <span class="blog-tag" style="background-color: {{ tagColors[tag] or '#64748b' }};">{{ tag }}</span>
            {% endfor %}
          </div>
        </div>
        {% endif %}
      </a>
    </article>
    {% endfor %}
  </div>
</section>
